<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/images/favicon.ico" rel="shortcut icon">
    <!--<script src="//code.jquery.com/jquery.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <!--<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>-->
    <!--<script src="/static/js/flatui-radio.js"></script>-->
    <!--<script src="/static/js/jquery.placeholder.js"></script>-->
    <!--<script src="/static/js/application.js"></script>-->
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
          <div class="nav-collapse collapse" id="nav-collapse-01">
            <a class="brand"href="/">AcousAuth Recorder</a>
            <ul class="nav pull-right">
              <li><a href="/admin">Admin</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container">{% block content %}{% endblock %}</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="//code.jquery.com/jquery.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <!--<script src="/static/js/jquery-1.9.1.min.js"></script>-->
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/flatui-radio.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
    <script src="/static/js/application.js"></script>
    <!--<script src="/static/js/jquery.ui.touch-punch.min.js"></script>-->
    <!--<script src="/static/js/jquery.stacktable.js"></script>-->
    <!--<script src="/static/js/jquery.tagsinput.js"></script>-->
    <!--<script src="/static/js/bootstrap-select.js"></script>-->
    <!--<script src="/static/js/bootstrap-switch.js"></script>-->
    <!--<script src="/static/js/flatui-checkbox.js"></script>-->
  </body>
</html>
