{% extends "base.html" %}
{% block title %}Audio Recorder - Admin Log{% endblock %}
{% block content %}
  <div class="container center">
    <div class="log-table">
      <div class="log-table-head">
        <h1 class="table-name span3">Admin - Log</h1>
        <div class="pull-right ui-select">
          <a class="btn btn-small btn-success btn-block check-users" href="/admin">Check Users</a>
          <a class="btn btn-small btn-info btn-block add-user" href="/add">+ Add User</a>
        </div>
      </div>
      <table class="table table-hover">
        <thead class="table-head">
          <tr>
            <td>USERNAME</td>
            <td>OPERATION</td>
            <td>OPERATION_DATE</td>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
          <tr>
            <td>{{ log['username'] }}</td>
            <td>{{ log['operation'] }}</td>
            <td>{{ log['operate_date'].ctime() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

